/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif, 'Segoe UI';
}

@media screen and (max-width:527px) {
  span.logo {
    display: flex;
    flex-flow: column nowrap;
  }

  span.logo img {
    width: 70px;
    margin: 0 auto;
  }
}

@media screen and (max-width:845px) {
  span.logo {
    font-size: 1.6em !important;
  }
}


span.logo {
  font-size: min(2em, 10vw);
  /* Problemático */
  font-weight: 500;
  box-sizing: border-box;
  padding: 15px;
  /* Problemático */
}

span.logo:hover {
  cursor: default;
}

a.button {
  box-sizing: border-box;
  padding: 15px 20px;
  text-decoration: none;
  color: white;
  background-color: black;
  border-radius: 50px;
  margin-right: 5px;
  border: 2px solid black;
}

a.button:last-of-type {
  margin-right: 0;
}

a.button:hover {
  background-color: white;
  color: black;
  transition: 600ms ease;
}

/*Excepciones*/
section#contenidos a.button {
  text-align: center;
  background-color: white;
  border-color: white;
  color: black;
}

section#contenidos a.button:hover {
  border-color: white;
  color: white;
  background-color: #130f40;
}

section#metodo a.button {
  text-align: center;
}

section#metodo a.button:hover {
  background-color: #95afc0;
}

a.button-transparent {
  box-sizing: border-box;
  padding: 15px 20px;
  text-decoration: none;
  color: black;
  border-radius: 50px;
  margin-right: 5px;
  border: 2px solid black;
  background-color: transparent;
}

a.button-transparent:last-of-type {
  margin-right: 0;
}

a.button-transparent:hover {
  background-color: black;
  color: white;
  transition: 600ms ease;
}

@media screen and (max-width: 425px) {
  a.button {
    display: block;
    text-align: center;
    width: 100%;
    /* Problemático */
  }
}

/* Problemático */
body {
  box-sizing: border-box;
  padding-left: clamp(2%, 3%, 5%);
  /* Usar variables */
  padding-right: clamp(2%, 3%, 5%);
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: 15px;
}

/* Problemático */
header nav {
  display: flex;
  flex-flow: row wrap;
  margin: auto 0;
  /* Problemático */
}

header nav a {
  text-decoration: none;
  color: black;
  font-size: 115%;
  /* Problemático */
  box-sizing: border-box;
  padding: 10px 15px;
  /* Usar variables */
  margin-right: 5px;
  /* PROBLEMÁTICO */
  border-right: 1px solid black;
  /* Problemático */
}

header nav a:last-child {
  margin-right: 0;
  border-right: 0;
}

header nav a:hover {
  background-color: black;
  color: white;
  transition: 600ms ease;
  border-radius: 15px 5px;
  border-right: 0;
  /* Problemático */
}

@media screen and (max-width: 778px) {
  header {
    flex-flow: column nowrap;
    justify-content: space-around;
  }

  header nav {
    margin: 0 auto;
  }

  span.logo {
    text-align: center;
    margin: 0 auto;
  }
}

@media screen and (max-width: 334px) {
  header nav {
    flex-flow: column nowrap;
    width: 90%;
    margin: 0 auto;
  }

  header nav a {
    text-align: center;
    border-right: 0;
    border-bottom: 1px solid black;
    padding: 20px;
    /* Usar variables */
    width: 100% !important;
  }

  header nav a:last-child {
    border-bottom: 0;
    margin-right: 0;
  }
}

footer {
  display: flex;
  background-color: rgb(31, 26, 26);
  color: white;
  flex-flow: row nowrap;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px 10px;
  margin-top: 15px;
}

footer div {
  flex: 50%;
  box-sizing: border-box;
  padding: 15px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

footer div:last-child a {
  color: white;
}

@media screen and (max-width: 768px) {
  footer {
    flex-flow: column nowrap;
  }

  footer div {
    flex: 100%;
    padding: 10px
  }
}

div.hero {
  background: url(../img/herobg.jpg), center;
  background: url(../img/herobg.webp), center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

/*Fondo de div.hero con media queries*/
@media screen and (min-width: 1501px) {
  div.hero {
    background: url(../img/herobg.jpg);
    background: url(../img/herobg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
  }
}

div.hero div.fade {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  padding-right: max(5%, 30px);
  padding-left: max(5%, 30px);
  padding-top: max(5vh, 30px);
  padding-bottom: max(5vh, 30px);
}

div.hero div.fade div:first-child {
  flex: 75%;
}

div.hero div.fade div:last-child {
  flex: 25%;
}

div.hero div.fade div {
  box-sizing: border-box;
  padding: 15px;
  /* Usar variables */
}

@media screen and (max-width: 761px) {
  div.hero div.fade {
    flex-flow: column nowrap;
    justify-content: space-around;
  }

  div.hero div.fade div:first-child {
    flex: 100%;
  }

  div.hero div.fade div:last-child {
    flex: 100%;
  }

  div.hero div.fade div {
    padding: 0;
  }
}

div.hero div.fade div:last-child div:last-child {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

@media screen and (min-width: 500px) {
  div.hero div.fade div:last-child div:last-child {
    flex-flow: row wrap;
  }

  div.hero div.fade div:last-child div:last-child a {
    flex: 33%;
  }
}

div.hero div.fade div:last-child div:last-child a {
  text-align: left;
  text-decoration: none;
  color: black;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

div.hero div.fade div:last-child div:last-child a:hover {
  background-color: black;
  color: white;
  transition: 600ms ease;
}

@media screen and (min-width: 762px) {
  div.hero div.fade div:last-child div:last-child {
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0;
  }

  div.hero div.fade div:last-child div:last-child a {
    flex: 100%;
  }
}

div.hero div.fade div:first-child div {
  height: 100%;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

div.hero div.fade div:first-child h1 {
  font-size: min(2em, 10vw);
  /* No funciona */
}

div.hero div.fade>div:last-child {
  border: 2px solid white;
}

div.hero div.fade>div:last-child {
  background-color: white;
  color: black;
}

div.hero div.fade div:last-child h2 {
  background-color: black;
  color: white;
  box-sizing: border-box;
  padding: 15px;
}

div.info {
  padding-left: clamp(2%, 3%, 5%);
  /* Usar variables */
  padding-right: clamp(2%, 3%, 5%);
}

div.info section {
  padding-left: clamp(2%, 3%, 5%);
  /* Usar variables */
  padding-right: clamp(2%, 3%, 5%);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 75px;
}

div.info section:last-child {
  margin-bottom: 0;
}

div.info section div {
  flex: 50%;
  padding: min(20px, 3%);
}

div.info section div:last-of-type {
  padding-bottom: 45px;
}

@media screen and (min-width: 762px) {
  div.info section div {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
  }
}

@media screen and (max-width: 761px) {
  div.info section {
    flex-flow: column nowrap !important;
    justify-content: space-around;
  }
}

div.proyectos {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: #f6e58d;
  color: black;
}

div.proyectos>div {
  flex: 50%;
  box-sizing: border-box;
  padding: min(4%, 30px);
}


@media screen and (max-width: 761px) {
  div.proyectos {
    flex-flow: column nowrap;
    justify-content: space-around;
  }

  div.proyectos div {
    flex: 100%;
  }
}

div.proyectos>div:first-child {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

div.proyectos>div:last-child {
  display: flex;
  flex-flow: row wrap;
}

div.proyectos>div:last-child a {
  display: block;
  flex: 50%;
  text-decoration: none;
  line-height: normal;
  height: 200px;
}

div.proyectos>div:last-child a div.aditivos,
div.intestino,
div.religion,
div.random {
  flex: 50%;
  height: 100%;
  color: black;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  box-sizing: border-box;
  padding: 10px;
  /* Arreglar */
  text-align: center;
}

@media screen and (max-width: 425px) {
  div.proyectos>div:last-child {
    box-sizing: border-box;
    padding-top: 50px;
    flex-flow: column nowrap;
  }

  div.proyectos>div:last-child a {
    display: block;
    flex: 100%;
    height: 25vh;
  }

  div.proyectos>div:last-child a div.aditivos,
  div.intestino,
  div.religion,
  div.random {
    flex: 100%;
    height: 25vh;
    color: black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}

/* Fondos de div.proyectos */
div.proyectos>div:last-child a div.random {
  background: url('../img/musica.jpg');
  background: url('../img/musica.webp');
  background: url('../img/musica.avif');
  background-size: cover;
}

div.proyectos>div:last-child a div.aditivos {
  background: url('../img/aditivos.jpg');
  background: url('../img/aditivos.webp');
  background: url('../img/aditivos.avif');
  background-size: cover;
}

div.proyectos>div:last-child a div.intestino {
  background: url('../img/microbiota.png');
  background: url('../img/microbiota.webp');
  background: url('../img/microbiota.avif');
  background-size: cover;
}

div.proyectos>div:last-child a div.religion {
  background: url('../img/religion.png');
  background: url('../img/religion.webp');
  background: url('../img/religion.avif');
  background-size: cover;
}

div.proyectos>div:last-child a div span.top {
  font-size: 3.5em;
}

div.proyectos>div:last-child a div span.bottom {
  font-size: 1.3em;
}

div.proyectos>div:last-child a div div.fade {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.3);
}

div.proyectos>div:last-child a div:hover div.fade {
  background-color: rgba(255, 255, 255, 0.7);
  transition: 600ms ease;
}


/* Formato impresión */

ol.proyectos{
  display: none!important;
}

span.footer-print{
  display: none!important;
}


@media print{
  @page{
    size: A4 portrait;
  }
  div.hero{
    height: auto;
  }
  header nav{
    display: none;
  }
  span.logo{
    margin: 0 auto;
  }
  div.hero div.fade div:last-of-type{
    display: none;
  }
  div#info a.button{
    display: none;
  }
  div.proyectos{
    page-break-before: always;
    flex-flow: column nowrap;
    height: auto!important;
  }
  div.proyectos>div:last-child a div.aditivos,
  div.intestino,
  div.religion,
  div.random, 
  div.proyectos a.button-transparent{
    display: none;
  }
  ol.proyectos{
    display: block!important;
  }
  footer{
    flex-flow: column nowrap;
    page-break-after: avoid;
  }
  footer div:last-of-type{
    display: none;
  }
  span.footer-print{
    display: inline;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " ("attr(href) ")";
  }

  abbr[title]::after {
    content: " ("attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}